@import "../../../../scss/variables";

.this__day {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  &_name {
    font-size: 40px;
    color: var(#{--text-color-default});
  }
}

.top__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  svg {
    width: 119px;
    height: 119px;
  }
}

.this__temp {
  font-size: 96px;
  font-weight: 500;
  color: $primary-color;
}

.bottom__block {
  .this__time,
  .this__city {
    color: $base-color;
    font-size: 25px;
  }
}
