.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px
}

.logo {
}

.title {
  h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 800;
  }
}
